// header.component.scss
@use '../../../styles/variables' as *;

.banner-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding-right: 1.5rem;
  border-right: 1px solid var(--border-color);
  height: 80px;
}

.logo {
  width: 72px;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: var(--button-bg);
}

.theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;

  svg {
    transition: fill 0.3s ease;
  }
}

.user-profile {
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 40px;
    aspect-ratio: 1;
    object-fit: cover;
    border: none;
    border-radius: 50%;
  }
}

@media screen and (min-width: 920px) {
  .banner-first {
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid var(--border-color);
    border-right: none;
    width: 100%;
    padding-block-end: 2rem;
  }

  .logo {
    height: fit-content;
    width: 100%;
  }
}
