<!-- header -->
<header>
    <section class="page-title">
        <h1 class="title">Invoice</h1>
        <p class="status">
            <span class="for-large-screens">There are</span> {{ (data | async)?.length }} <span class="for-large-screens">total</span> invoices
        </p>
    </section>

    <section class="invoice-list-page-controls">
        <button class="filter" (click)="displayDropDownMenu()" >
            <p>Filter</p>
            <img src="/assets/svgs/icon-arrow-down.svg" alt="down arrow svg icon on filter dropdown">
        </button>
    
        <!-- filter dropdown -->
        @if (isEmpty) {
            <section class="filter-dropdown-menu" (click)="filterInvoiceData($event)" #InputParentContainer>
                <div class="draft" >
                    <input type="checkbox" name="draft" id="draft-checkbox" #draftCheckBox>
                    <label for="draft-checkbox">draft</label>
                </div>
                <div class="pending">
                    <input type="checkbox" name="pending" id="pending-checkbox" #pendingCheckBox>
                    <label for="pending-checkbox">pending</label>
                </div>
                <div class="paid">
                    <input type="checkbox" name="paid" id="paid-checkbox" #paidCheckBox>
                    <label for="paid-checkbox">paid</label>
                </div>
            </section>
            
        }
        <!-- new invoice button -->
            <button class="new-invoice" [routerLink]="['./new-form']" (click)="displayForm()">
            <!-- svg -->
            <div class="svg-container">
                <svg width="11" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M6.313 10.023v-3.71h3.71v-2.58h-3.71V.023h-2.58v3.71H.023v2.58h3.71v3.71z" fill="#7C5DFA" fill-rule="nonzero"/></svg>
            </div>
            <p>New <span class="hidden">Invoice</span></p>
        </button>

    </section>
    
</header>

@if ( state | async ) {
    <!-- content -->
    <main>
        @for (invoice of data | async; track $index) {
            <div class="invoice font-size-body" [routerLink]=" 'invoice' " (click)="handleSelectedInvoice(invoice.id)">
                <p class="id">
                    <span class="hash">#</span>{{ invoice.id }}
                </p>
                <p class="date">
                    <span>Due</span> {{ invoice.paymentDue | date: 'dd MMM yyyy'}}
                </p>
                <p class="name">
                    {{ invoice.clientName }}
                </p>
                <!-- price -->
                <p class="price font-size-h3">
                    {{ invoice.total | currency: 'GBP' : 'symbol' : '1.2-2' }}
                </p>
                <!-- status -->
                <div class="app-status status-arrow">
                    <app-status 
                    [status]="invoice.status"/>

                    <div class="right-arrow-container">
                        <img class="right-arrow" src="assets/svgs/icon-arrow-right.svg" alt="right arrow svg icon">
                    </div>
                </div>
            </div>

        }
        
    
    </main>

    
}@else {
    <div class="empty-container">
        <!-- img -->
        <img src="../../../assets/svgs/illustration-empty.svg" alt="illustration depicting an empty invoice collection is empty">
        
        <article>
            <!-- title -->
            <h2 class="page-title">
                There is nothing here
            </h2>
            <!-- description -->
            <p class="page-description">
                Create an invoice by clicking the <strong>New</strong> button and get started
            </p>

        </article>
    </div>
}