@use '../../../styles/variables' as *;

.main-container {
  width: min(700px, 100%);
  height: 100%;
  background-color: var(--bg-color);
  border-color: transparent;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 90%;
  margin: auto auto;
  // padding: 0 2rem;
}

.title {
  font-size: $font-size-h1;
  color: var(--text-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.input-fields {
  overflow-y: scroll;
  scrollbar-width: none;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  width: 90%;
  margin: auto auto 3rem;

  > div {
    height: fit-content;
  }
}

legend {
  color: $color-purple;
  font-size: $font-size-body;
  margin-block-end: 1.5rem;
}

input,
.paymentDue-container > select {
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 0 1rem;
  font-weight: bold;
  background-color: var(--card-bg);
  outline: none;
  color: var(--text-primary);
}

input {
  color: var(--text-primary);
  outline: none;
}

.street-address-container,
.country-container,
.client-name-container,
.client-email-container,
.invoice-terms > div,
.item-name-container {
  grid-column: 1 / -1;
}

label {
  color: $color-light-blue-darker;
  font-size: $font-size-body;
  margin-block-end: 0.7rem;
  display: block;
}

.invoice-items {
  grid-template-columns: repeat(3, 1fr);
}

.add-new-item {
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: $font-size-body;
  color: $color-light-blue-darker;
  background-color: var(--purchase-bg);
  display: block;
  margin-top: 2rem;
}

.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  color: var(--text-primary);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.submission-btns {
  bottom: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: var(--bg-color);
  padding: 0 1rem;
  font-weight: bold;
  
  .save-btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;

  }

  .discard {
    background-color: var(--purchase-bg);
    padding: 1rem 1rem;
    color: var(--text-secondary);
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: bold;
  }

  .save-changes {
    background-color: var(--button-bg);
    padding: 1rem 1rem;
    color: $color-white;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: bold;
  }

  .save-draft {
    background-color: $dark-draft-btn;
    padding: 1rem 1rem;
    color: var(--text-secondary);
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: bold;
  }
}

.sub-title {
  color: $color-grey-deep;
  margin-bottom: 1.5rem;
}

h3,
.add-new-item {
  width: 90%;
  margin-inline: auto;
}

@media screen and (min-width: 580px) {
  .main-container {
    border-radius: 0 20px 20px 0;
    align-self: flex-start;
  }
}

@media screen and (min-width: 920px) {
  .main-container {
    padding-left: 6rem;
  }

  .submission-btns {
    background: var(--bg-color);
    justify-content: space-between;
    padding: 0 1.5rem;
  }
}
