@use '../../../styles/variables' as *;

.status-container,
.status-container > div {
  height: 100%;
}

.status-container {
  grid-row: 2 / 4;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > div {
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    border: none;
    border-radius: 6px;
    width: 100px;
    justify-content: center;
  }
}

.ellipsis {
  border: none;
  border-radius: 50%;
  width: 8px;
  aspect-ratio: 1;
  background: $color-green;
}

.status {
  font-weight: 500;
  text-transform: capitalize;
}

// Status Variants
.paid {
  background-color: $status-paid-bg;
  color: $color-green;
}

.draft {
  background-color: $status-draft-bg;
  color: $color-dark-blue-variant-1;
}

.pending {
  background-color: $status-pending-bg;
  color: $color-orange;
}

// Ellipsis Variants
.ellipsis-paid {
  background-color: $color-green;
}

.ellipsis-pending {
  background-color: $color-orange;
}

.ellipsis-draft {
  background-color: $color-dark-blue-variant-1;
}
