@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    /* colors */
    --color-purple: #7c5dfa;
    --color-purple-light: #9277ff;
    --color-dark-blue: #1e2139;
    --color-dark-blue-variant-1: #373B53;
    --color-dark-blue-light: #252945;
    --color-light-blue-lighter: #DFE3FA;
    --color-light-blue: #888EB0; 
    --color-light-blue-darker: #7E88C3; 
    --color-black-shade: #0C0E16;
    --color-dark-blue-dark: #141625;
    --color-red-lighter: #9277FF;
    --color-red: #EC5757;
    --color-green: #33D69F;
    --color-white: #FFF;
    --color-white-shade: #F8F8FB; /*(Light BG) */
    --color-white-shade-2: #F9FAFE;
    --color-orange: #FF8F00;

    --status-paid-bg: #33d6a024;
    --status-pending-bg: #FF8F0024;
    --status-draft-bg: #373B5324;
    

    /* FONTS */
    --font-size-h1: 32px;
    --font-size-h2: 20px;
    --font-size-h3: 16px;
    --font-size-h3-small: 14px;
    --font-size-body: 12px;
    --font-size-body-smaller: 11px;

}

body {
    width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: space-between;

    background-color: var(--color-white-shade);

    font-family: "League Spartan", sans-serif;
}